<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en" data-bs-theme="auto">

<head th:replace="~{layoutAdmin :: page_head}">
</head>

<body>


<main class="d-flex flex-nowrap">

    <div th:replace="~{layoutAdmin :: main}">

    </div>

    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
        <div class="container mt-4" style="max-width: 800px;">
            <h2 class="text-dark text-center pb-5">Lista de Emprendimientos</h2>

            <!-- Tabla -->
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>NIT</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <!--<th>Etapa</th>-->
                    <th>Emprendedor</th>
                    <th>Logo</th>
                    <th>Informacion Adicional</th>
                    <th>Acciones</th>

                    <!--    Nombre del Emprendimientos, Nombre del Emprendedor, NIT, Categoría, Estado del emprendimientos, etapa,
                      estado en el que se encuentra en el WorkFlow y un botón con la información adicional. La información
                      se mostrará en forma de lista de cada uno de los emprendimientos registrados.-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="emprendimiento : ${emprendimientos}">
                      <td th:text="${emprendimiento.nombreEmp}"></td>
                      <td th:text="${emprendimiento.nit}"></td>
                      <td th:text="${emprendimiento.categoria}"></td>
                      <td th:text="${emprendimiento.estadoEmp}"></td>
                      <!-- <td th:text="${emprendimiento.workFlow.etapa}"></td>--> <!-- Accediendo a la etapa de workFlow -->
                      <td th:text="|${emprendimiento.usuario.nombres} ${emprendimiento.usuario.apellidos}|"></td>
                      <td>
                          <img th:src="@{${emprendimiento.imagenes.logo}}" alt="Logo" style="width: 80px; height: auto;">
                      </td>
                      <td>
                      <!-- Botón para abrir el modal -->
                      <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#infoModal"
                              th:attr="data-id=${emprendimiento.codigoEmp}"
                              th:data-nombre="${emprendimiento.nombreEmp}"
                              th:data-descripcion="${emprendimiento.descripcion}"
                              th:data-nit="${emprendimiento.nit}"
                              th:data-categoria="${emprendimiento.categoria}"
                              th:data-estado="${emprendimiento.estadoEmp}"
                              th:data-ubicacion="${emprendimiento.ubicacion}"
                              th:data-fechaFundacion="${emprendimiento.fechaFundacion}"
                              th:data-redesSociales="${emprendimiento.redesSociales}"
                              th:data-telefono="${emprendimiento.telefono}"
                              th:data-email="${emprendimiento.email}">
                          Información
                      </button>

                      </td>
                      <td>
                          <button type="button" class="btn btn-warning btn-sm">
                              Editar
                          </button>
                          <button type="button" class="btn btn-danger btn-sm">
                              Eliminar
                          </button>
                          <button type="button" class="btn btn-danger btn-sm d-none">
                              Inhabilitar
                          </button>
                          <button type="button" class="btn btn-danger btn-sm d-none">
                              Habilitar
                          </button>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
</main>
<footer th:replace="~{layoutAdmin :: page_footer} ">

</footer>
<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Información del Emprendimiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Nombre:</strong> <span id="modalNombre"></span></p>
                <p><strong>NIT:</strong> <span id="modalNIT"></span></p>
                <p><strong>descripcion:</strong> <span id="modalDescripcion"></span></p>
                <p><strong>Categoría:</strong> <span id="modalCategoria"></span></p>
                <p><strong>Estado:</strong> <span id="modalEstado"></span></p>
                <p><strong>Ubicación:</strong> <span id="modalUbicacion"></span></p>
                <p><strong>Fecha de Fundación:</strong> <span id="modalFechaFundacion"></span></p>
                <p><strong>Redes Sociales:</strong> <span id="modalRedesSociales"></span></p>
                <p><strong>Teléfono:</strong> <span id="modalTelefono"></span></p>
                <p><strong>Email:</strong> <span id="modalEmail"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Script para cargar los datos en el modal -->
<script>
    var infoModal = document.getElementById('infoModal');
    infoModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;

        document.getElementById('modalNombre').textContent = button.getAttribute('data-nombre');
        document.getElementById('modalNIT').textContent = button.getAttribute('data-nit');
        document.getElementById('modalDescripcion').textContent = button.getAttribute('data-descripcion');
        document.getElementById('modalCategoria').textContent = button.getAttribute('data-categoria');
        document.getElementById('modalEstado').textContent = button.getAttribute('data-estado');
        document.getElementById('modalUbicacion').textContent = button.getAttribute('data-ubicacion');
        document.getElementById('modalFechaFundacion').textContent = button.getAttribute('data-fechaFundacion');
        document.getElementById('modalRedesSociales').textContent = button.getAttribute('data-redesSociales');
        document.getElementById('modalTelefono').textContent = button.getAttribute('data-telefono');
        document.getElementById('modalEmail').textContent = button.getAttribute('data-email');
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script th:src="@{/assets/sidebars.js}"></script>
</body>
</html>
